.nav {
  display: flex;
  justify-content: space-between;
  &-octopusLogo {
    width: 45%;
  }
  &-basketWrap {
    display: flex;
    justify-content: center;
    &-icon {
      height: 50px;
      width: 43%;
    }

    &-quantity {
      margin-top: 3px;
    }
  }
}
