.nav {
  display: flex;
  justify-content: space-between;
  &-octopusLogo {
    width: 45%;
    margin-left: 2%;
    @media only screen and (min-width: 600px) {
      width: 25%;
      margin-top: 10px;
    }
  }
  &-basket {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: bolder;

    &-icon {
      height: 50px;
      width: 43%;
      @media only screen and (min-width: 600px) {
        height: 60px;
        width: 50%;
      }
    }

    &-quantity {
      margin-top: 3px;
    }
  }
}
