@import "./variables";

.productMain {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-img {
    width: 82%;
  }
  &-name {
    margin: 0px;
  }
  &-info {
    color: $secondary-blue;
    margin-top: 3px;
    font-size: 13px;
  }
}
